*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url('4k.jpg');
    background-position: center;
    background-size:cover; 
    font-family:sans-serif;
    padding:80px;
    height: 90vh;
    
}



.logbut{
    background-color: grey;
    height: 30px;
    width: 300px;
    border-radius: 5px;
   border: 2px solid black;
    margin-left: 20px;
    margin-top: 65px;
}

.page-links{
    text-decoration: none;
    color: #fff;
   margin-left: 120px;
   margin-top: 4px;
}

.signupsection{
    width: 350px;
    top: 50%;
    left: 47%;
    transform: translate(-50%,-50%);
    position: absolute;
    
}

.signupsection h1{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    
    
 } 


.signupsection p{

    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
   margin-top: 15px;
    color: white;
  
  
} 

.signupsection input{
   width: 90%;
   padding: 15px;
   border-radius: 5px;
    
 } 

 .signupsection button{
    width: 70%;
    padding: 10px ,15px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 2%;
    margin-top: 20px;
    color: white;
    background-color: grey;
    margin-left: 40px;
    
     
  } 

  .signupsection button :hover{
 color: #fff;
 transition: color 1s linear;
     
  } 


 
 
